<div class="cv_content">
    <div class="person_name"><%= firstName %> <%= lastName %></div>
    <div class="personal_data">
        <div class="personal_data_header">PERSONAL DATA</div>
    </div>
</div>